{% load static %}
<!-- Footer start -->
<footer class="footer">
    
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <p class="copy">© Since 1990 - {% now 'Y' %} 
                        <a href="#">
                            <span style="color:white">ING</span>
                            <span style="padding: 5px; border: 1px solid white; color:white;">Carzone Corp.</span></a> All Rights Reserved.</p>
                </div>
                <div class="col-lg-4">
                    <div class="social-list-2">
                        <ul>
                            <li><a href="https://www.facebook.ocm" target="_blank" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.twitter.com" target="_blank" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.google.com" target="_blank" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.lnkend.com" target="_blank" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->
